/* fonts */

@font-face {
    font-family: 'MPLUS1Code';
    src: url('fonts/MPLUS1Code-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'MPLUS1Code';
    src: url('fonts/MPLUS1Code-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MPLUS1Code';
    src: url('fonts/MPLUS1Code-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

 /* variables */

:root {
    --background-color: #0a1930;
    --primary-color:  #8893b0 ; 
    --secondary-color: #929eb8;
    --interjections-color: #6cbab9;
    --lighter-interjections-color: #6FC9C0;
    --h2-color: #CBD5F4;
    --darker-h2-color: #8891B0;
    --font-family: 'MPLUS1Code', sans-serif;
}

/* global */

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
p{
    color: var(--primary-color);
    font-weight: normal;
}
h1, h2{
    font-weight: bold;
    color: var(--h2-color);
    font-size: 4rem;
}
body{
    background: var(--background-color);
    font-family: var(--font-family);
}
.container {
    display: flex;
    flex-direction: column;
}
.direction_row{
    flex-direction: row;
}
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-color: var(--interjections-color);
    border-radius: 0.5rem;
    color: var(--interjections-color);  
    padding: 1em;
    text-align: center;
    font-weight: bold;
}
span{
    color:#6cbab9;
}

/* header */

a, a:link, a:visited {
  color: var(--secondary-color);
  text-decoration: none;
}
header {
    display: flex;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 3vh;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    transition: 0.6s;
    z-index: 1000;
}
header .logo {
    position: relative;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--interjections-color);
    transition: 0.6s;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 1em;
    text-decoration: none;
    color: var(--secondary-color);
    letter-spacing: 2px;
    transform: 0.6s;
}
header.sticky { 
    background-color: #040f1e;
    top: -3vh;
}
header.sticky .logo {
    color: var(--interjections-color);
}
header.sticky ul li a {
    color: var(--primary-color);
    transform: 0.6s;
}

/* social media */

.social_media {
    display: flex;
    height: 100vh;
    margin-left: 3vw;
    position:fixed;
    transition: 0.6s;
    z-index: 1000;
}

.social_media ul {
    position: relative;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.social_media ul li {
    position: relative;
    list-style: none;
    margin-bottom: 1rem;
}
.social_media ul li:last-child {
    margin-bottom: 0rem;
}
.social_media ul li img {
    height: 64px;
    width: 64px;
}
.line {
    width: 0.05rem;
    height: 10vh;
    background-color: var(--h2-color);
    margin: 0 auto;
}

/* introduction */

.introduction{
    justify-content: center;
    align-items: start;
    margin-top: 2em;
    margin-left: 30vw;
    row-gap: 1em;
    height: 100vh;
    background-size: cover;
}
.introduction .welcome{
    color: var(--lighter-interjections-color);
    font-weight: lighter;
}
.introduction .first_last_name {
    color: var(--h2-color);
    font-size: 6rem;
}
.introduction .short_text{
    color: var(--darker-h2-color);
    font-size: 3rem;
}
.introduction .long_text{
    flex-wrap: wrap;
    max-width: 60ch;
    text-align: justify;
}
.introduction .btn_send_email{
    margin-top: 2em;
}

/* about */

.about{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.about h2 span{
    font-size: 2rem;
}
.about p{
    max-width: 60ch;
}
.about p span{
    color: var(--interjections-color);
}
.about .first_paragraph{
    
}
.about .second_paragraph{

}
.about .third_paragraph{

}
.about .photo{

}